.movies-container{
    width: 19rem;
    /* border: 1px solid gray; */
}

.movie-poster img{
    width: 19rem;
    height: 30rem;
    border-radius: 2rem;
    justify-content: center;
    object-fit: cover;

}

.movie-name-rating{
    display: flex;
    justify-content: space-between;
}

.like-dislike-container{
    display: flex;
    color: rgb(0, 0, 0);
    gap: 10px;
    button{
        background-color: rgb(255, 255, 255);
        border: none;
    }
    .badge{
        padding: 4px;
    }

}

.like-edit-delete-container{
    padding-top: 0.5rem;
}


.moviedata-list-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    
}
