body{
    margin: 0px;
    
}

.nav-bar{
    background-color: rgb(0, 0, 0);
    height: 55px;
}

.nav-bar ul{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 1rem;
    gap: 2rem;
    margin-top: 0px;
    li{
        list-style-type: none;
        a{
            text-decoration: none;
            font-family: sans-serif;
            color: rgb(255, 255, 255);
            display: flex;
            align-items: center;
        }
    }
}


.homepage{
    font-family: sans-serif;
    color: rgb(243, 139, 21);
    padding-left: 7px;
    font-style: italic;
}


.movies-container{
    margin-top: 20px;
    width: 19rem;
    /* border: 1px solid gray; */
    font-family: sans-serif;
}

.movie-poster img{
    width: 19rem;
    height: 30rem;
    border-radius: 2rem;
    justify-content: center;
    object-fit: cover;

}

.movie-name-rating{
    display: flex;
    /* justify-content: space-between; */
    place-items: center;
}

.movie-summary-button > Button{
    border-color: gray ;
    border-radius: 3rem;
    height: 1.5rem;
    font-weight: 800;
    color: rgb(86, 86, 86);
    background-color: white;
    

}

.edit-delete{
    display: flex;
}

.like-dislike-container{
    display: flex;
    color: rgb(0, 0, 0);
    gap: 10px;
    button{
        background-color: rgb(255, 255, 255);
        border: none;
    }
    .badge{
        padding: 4px;
    }

}

.like-edit-delete-container{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    place-items: center;
}


.moviedata-list-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;   
    
}


.add-movie-container{
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
    Button{
        height: 55px;
    }
}

.movies-container .edit-delete{
    opacity: 0;
}

.movies-container:hover .edit-delete{
    opacity: 1;
    transition: 0.5s;
}

.movie-add-container{
    margin-top: 20px;
    padding-left: 10PX;
}

.add-more-movies-button{
    margin-top: 20PX;
}

.form-input{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 20rem;
}