.movies-container{
    width: 19rem;
    /* border: 1px solid gray; */
    font-family: sans-serif;
}

.movie-poster img{
    width: 19rem;
    height: 30rem;
    border-radius: 2rem;
    justify-content: center;
    object-fit: cover;

}

.movie-name-rating{
    display: flex;
    /* justify-content: space-between; */
    place-items: center;
}

.movie-summary-button > Button{
    border-color: gray ;
    border-radius: 3rem;
    height: 1.5rem;
    font-weight: 800;
    color: rgb(86, 86, 86);
    background-color: white;
    

}


.like-dislike-container{
    display: flex;
    color: rgb(0, 0, 0);
    gap: 10px;
    button{
        background-color: rgb(255, 255, 255);
        border: none;
    }
    .badge{
        padding: 4px;
    }

}

.like-edit-delete-container{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    place-items: center;
}


.moviedata-list-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;   
    
}


.add-movie-container{
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
    Button{
        height: 55px;
    }
}